<ul>
    <li>
    </li>
    <li>
        <a class="sc-hcnlBt sc-bYnzgO sc-fvLVrH bQiUpj lang_icn" >
            <div class="sc-cgzHhG imNPEz showLangDiv">
                <div class="langSele">
                    <h2>Select preferred languages</h2>
                    <ul class="langCont">
                        <li class=""><div class="lang lang_hi"><em>hi</em><span>हिंदी</span></div></li>
                        <li class=""><div class="lang lang_te"><em>te</em><span>తెలుగు</span></div></li>
                        <li class=""><div class="lang lang_ta"><em>ta</em><span>தமிழ்</span></div></li>
                        <li class=""><div class="lang lang_ml"><em>ml</em><span>മലയാളം</span></div></li>
                        <li class=""><div class="lang lang_kn"><em>kn</em><span>ಕನ್ನಡ</span></div></li>
                        <li class=""><div class="lang lang_en active"><em>en</em><span>English</span></div></li>
                        <li class=""><div class="lang lang_mr"><em>mr</em><span>मराठी</span></div></li>
                        <li class=""><div class="lang lang_bn"><em>bn</em><span>বাংলা</span></div></li>
                        <li class=""><div class="lang lang_gu"><em>gu</em><span>ગુજરાતી</span></div></li>
                        <li class=""><div class="lang lang_pa"><em>pa</em><span>ਪੰਜਾਬੀ</span></div></li>
                        <li class=""><div class="lang lang_or"><em>or</em><span>ଓଡିଆ</span></div></li>
                        <li class=""><div class="lang lang_ur"><em>ur</em><span>اردو</span></div></li>
                        <li class=""><div class="lang lang_bh"><em>bh</em><span>भोजपुरी</span></div></li>
                        <li class=""><div class="lang lang_ne"><em>ne</em><span>नेपाली</span></div></li>
                        <li class=""><div class="lang lang_as"><em>as</em><span>অসমীয়া</span></div></li>
                    </ul>
                </div>
            </div>
        </a>
    </li>
</ul>