<!DOCTYPE html>
<html lang="en">
<head>
  <title> Dev Duniya </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
    .fa {
      padding: 5px;
      font-size: 25px;
      width: 50px;
    }
    .inputfield input{
      margin-bottom: 10px;
    }
    .inputlabel label{
      margin-bottom: 17px;
    }
    .wrapper{
      text-align: center;
      padding-top: 8em;
      font-size: 29px;
    }
    body {
      font-family: "Lato", sans-serif;
      transition: background-color .5s;
    }
    
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    #main {
      transition: margin-left .5s;
      padding: 16px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  </style>
</head>
<body>

<div>
  
  <nav class="navbar navbar bg-dark navbar-white">
    
      

    <div class="flex">
      <span style="font-size:25px; font-color=white;cursor:pointer" onclick="openNav()">&#9776; open</span>
      <a class="navbar-brand" href="/TOI"> news </a>
    </div>
       
          <div class="nav-item dropdown">
            
          {% if user.is_authenticated %}
          <a href="#" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Welcome-{{user.username}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/logout">LOGOUT</a>
            <a class="dropdown-item" href="/profile">Profile</a>
            <a href="/contact" class="dropdown-item" > Contact </a>

          </div>
            
          {% else %}
          <a href="#" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Login/Register </a>
          <div class="dropdown-menu">
            <a href="/loginpage" class="dropdown-item" > Login </a>
            <a href="/registerpage" class="dropdown-item" > Register </a>
            <a href="/contact" class="dropdown-item" > contact </a>
          </div>
          {% endif %}
        </div>
        
    </div>
  </div>
</div>
  </nav>
</div>

  </head>
  <body>
  
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/TOI">TOI</a>
			<a href="/Zeenews" >zeenews</a>
      <a href="/cricketlivescore" >cricket</a>
			<a href="/rss" >RSS</a>
      <a href="/live_score">live_score</a>
      <a href="/test" >test</a>
      <a href="/business" >business</a>
  </div>
  
  
  
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
  }
  </script>
     
  </body>
{% include 'accounts/message.html' %}
  
<div style="min-height: 90vh">
  {% block content %}


  {% endblock %}
</div>

<footer
        class="text-center text-lg-start text-white"
        style="background-color: #1c2331"
        >
  <section
           class="d-flex justify-content-between p-4"
           style="background-color: #6351ce"
           >
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>
    <div style="padding-right:50px;">
      <a href="https://www.facebook.com/bestcodecreator" class="text-white me-4" style="margin-right:8px;">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/expoashish" class="text-white me-4" style="margin-right:8px;">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.google.com/" class="text-white me-4" style="margin-right:8px;">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.instagram.com/expoashish/" class="text-white me-4" style="margin-right:8px;">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/expoashish/" class="text-white me-4" style="margin-right:8px;">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/expoashish  " class="text-white me-4" style="margin-right:8px;">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-md-start mt-5text-center">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4text-center">
          <h6 class="text-uppercase fw-bold">Category</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <div class="category">
								<ul class="fa-ul">
										<li><a href="">National</a></li>
										<li><a href="">International</a></li>
										<li><a href="">Economics</a></li>
										<li><a href="">Politics</a></li>
										<li><a href="">Lifestyle</a></li>
										<li><a href="">Technology</a></li>
										<li><a href="">Trades</a></li>
								</ul>
						</div>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2.5 mx-auto mb-5 text-center">
          <h6 class="text-uppercase fw-bold">Pages</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <div class="sidebar-widget">
                <div class="tags">
                  <i class="far fa-arrow-alt-circle-right"></i> <a href="">National</a>
                  <i class="far fa-arrow-alt-circle-right"></i> <a href="">International</a>
                  <i class="far fa-arrow-alt-circle-right"></i><a href="">Economics</a>
                  <i class="far fa-arrow-alt-circle-right"></i><a href="">Politics</a>
                  <i class="far fa-arrow-alt-circle-right"></i><a href="">Lifestyle</a>
                  <i class="far fa-arrow-alt-circle-right"></i> <a href="">Technology</a>
                  <i class="far fa-arrow-alt-circle-right"></i> <a href="">Trades</a>
                  <i class="far fa-arrow-alt-circle-right"></i> <a href="">National</a>
                  <i class="far fa-arrow-alt-circle-right"></i> <a href="">International</a>
                  <i class="far fa-arrow-alt-circle-right"></i> <a href="">Economics</a>
                  <i class="far fa-arrow-alt-circle-right"></i> <a href="">Politics</a>
                  <i class="far fa-arrow-alt-circle-right"></i> <a href="">Lifestyle</a>
                  <i class="far fa-arrow-alt-circle-right"></i> <a href="">Technology</a>
                  <i class="far fa-arrow-alt-circle-right"></i> <a href="">Trades</a>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-left" >
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <div style="text-align:left;">
                <p><i class="fas fa-home mr-3"></i> New Delhi, ND 110082, INDIA</p>
                <p><i class="fas fa-envelope mr-3"></i> mail@devduniya.com</p>
                <p><i class="fas fa-phone mr-3"></i> +91 9876543289</p>
                <p><i class="fas fa-print mr-3"></i> +91 9878979556</p>
              </div>
        </div>
      </div>
    </div>
  </section>
  
</footer>
</div>
</body>
</html>


