{% extends './home.html' %}

{% block title %}Paper{% endblock title %}

{% block content %}  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<div class="container text-center">
  <div class="row justify-content-center ">
      <div class="col-7">
          <div class="card">
            
              <div class="card-body">
                  
      {% for categores in categore %}
      <div class="card mb-4 shadow">
                <h5 class="card-title">{{categores.title}}</h5>
                <hr/>
                  <p card = "card-text">{{ categores.description }}</p>
                    <p><a   href= {{categores.link }}  target=" _blank"   > Read more </a>
                      <a href="whatsapp://send?text={{categores.link}}" data-action="share/whatsapp/share"   style="font-size:25px;color:darkgreen" class="fa fa-whatsapp" ></a>
                      <a href="https://www.facebook.com/sharer/sharer.php?u={{categores.link}}" target=" _blank"  data-action="share/facebook/share"   style="font-size:25px;color:darkgreen" class="fa fa-facebook" ></a>
                  </p>
                  </dl>  
               </div>
             {% endfor %}
     
  </div>
  </div>
</div>
</div>
</div>

      {% endblock %}